body{
margin:0;
padding:0;
background-color:antiquewhite;
background-image:url('background.jpg');
background-position: top right 0;
background-repeat:no repeat;




}
p{
    font-family:ariel;
    font-size:30px;
    color: rgb (252, 252, 252);
    font-weight: 700;
    font-style: italic;
    text-align:center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #FFF;
}
#para{
    color:aliceblue;
    display: inline-block
    ;
}
img{
    float: left;
}